@import "/src/assets/styles/abstracts/variables";


.onboarding-choice-page {
    @extend .primary-background;

    .error {
        color: red;
    }

    .breadcrumb-header {
        @extend .primary-text-1;
    }

    .right-section {
        @extend .primary-background;

        .student {
            @extend .primary-background;
            @extend .primary-border;
            border-radius: 8px;
        }

        .icons {
            @extend .primary-background;
            border: 1px solid #1480B7;
            border-radius: 8px;
        }

        .form-container {
            padding: 0 7rem;

            @include respond(tab-land) {
                padding: 0 2rem;
            }

            @include respond(phone) {
                padding: 1rem;
            }

        }
    }

    .submit {
        background: #1480B7;
        box-shadow: 0px 3px 0px #0F5F87;
        border-radius: 8px;
        padding: 12px;

        &_text {
            font-size: 15px;
            color: #FFFFFF;
            text-shadow: 0px 2px 3px rgba(0, 0, 0, 0.25);
        }
    }
}

.selection-btn-onboarding {
    position: relative;

    label {
        padding: 0.7rem 1rem;
        @extend .primary-border;
        border-radius: 12px;
        display: inline-block;
        cursor: pointer;
        font-size: 14px;
    }

    input[type="radio"] {
        position: absolute;
        width: 100%;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        appearance: none;
        cursor: pointer;
        opacity: 0;
    }

    input[type="radio"]:checked+label {
        border: 2px solid $color-primary;
        box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.06);
        font-weight: 700;
    }
}

.radio-btn-onboarding {
    position: relative;

    label {
        padding: 0.7rem 1rem;
        @extend .primary-border;
        border-radius: 12px;
        display: inline-block;
        cursor: pointer;
        font-size: 14px;
    }

    input[type="radio"] {
        position: absolute;
        width: 100%;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        appearance: none;
        cursor: pointer;
        opacity: 0;
    }

    input[type="radio"]:checked+label {
        background-color: $color-primary;
        border: 1px solid $color-primary;
        border: 1px solid $color-primary;
        box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.06);
        color: #fff;
        font-weight: 700;
    }

}

.grayscale{
    filter: grayscale(1);
}